fastapi==0.115.0
websockets==12.0
uvicorn[standard]==0.30.0
keyboard==0.13.5
qrcode==7.4.2
Pillow==10.4.0
screen-brightness-control==0.18.0
pywebview==6.2.1
psutil==6.1.0
zeroconf==0.149.16
pywin32==308
winrt==2.2.0
wmi==1.5.1
ifaddr==0.2.0
